  <main>
        <div class="header-nav">
            <div class="product" id="product">
                <h2> Популярные товары</h2>
                <div class="owl-carousel">
                    <div class="img_product">
                        <img src="./img/11.jpg" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/5.jpg" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/2.webp" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/4.webp" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/1.jpg" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/3.webp" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/6.jpg" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/8.jpg" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                    <div class="img_product">
                        <img src="./img/4.jpg" alt="">
                        <div class="text-carousel">
                            <p>distarsys.uz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
