     <footer>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4">
                    <a href="/" class="logo"><img src="./img/logoAbout.jpg" alt=""></a>
                </div>
                <div class="col-auto">
                    <ul>
                        <li><a href="#!">Главная</a></li>
                        <li><a href="#!">О нас</a></li>
                        <li><a href="#!">Контакты</a></li>
                    </ul>
                        <div class="tel">
                             <a href="tel:+998977043343" class="tel">
                                (+99897) 704-33-43  </a> 
                        </div>
                    <ul>
                        <li><a href="#@" class="facebook"><i class="fab fa-facebook-f"></i> </a></li>
                        <li><a href="#@" class="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#@" class="telegram"><i class="fab fa-telegram-plane"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>