<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon"       href="/img/logoBrowser.png">
    <link rel="stylesheet" href="/Libs/reset.css">
    <link rel="stylesheet" href="/Libs/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/Libs/css/fonts.css">
    <link rel="stylesheet" href="/Libs/css/all.css">
    <link rel="stylesheet" href="/Libs/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Libs/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>