    <section>
        <div class="about" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h2> о нас</h2>
                        <div class="about_text">
                            <div class="img_logo">
                                <img src="./img/logoAbout.jpg" alt="">
                            </div>
                            <div class="text">
                                <p>
                                    Наша компания основано в 2000 году. С момента основания наша компания осуществляет
                                    деятельность в сфере торговли компьютерной и цифровой техникой. Мы предоставляем
                                    широкий выбор данного оборудования. Всегда в наличии и под заказ: компьютеры
                                    производства РУз, ноутбуки, планшетные ПК, моноблоки, копировально-множительная
                                    техника, комплектующие, периферийное оборудование, комплектующие, телефония, сетевое
                                    оборудование, расходные материалы, портативная электроника.Многолетний опыт работы
                                    сотрудников компании позволяет нам находить оптимальное решение для каждого
                                    клиента.Мы обеспечим гарантийное и послегарантийное обслуживание оборудования в
                                    собственном сервисном центре, либо в авторизированном сервисном центре производителя
                                    оборудования. Тип бизнеса: Торговая компания
                                    Количество сотрудников: 11 - 50 чел.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>