<div class="addProduct">
  <div class="container">
    <h2>Добавить товары</h2>
    <div class="row justify-content-center">
      <div class="col-11">
        <form action="/category" method="POST">
          <label for="categorynew">Новая Категория</label>
          <input
            id="categorynew"
            type="text"
            class="add_inp"
            name="title"
            placeholder="Новая категория"
          />
          <button class="add_btn">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</div>