<section>
  <div class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Контакты</h2>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-3">
            <h3>Телефон</h3>
            <a href="tel:+998935489878" class="tel">+998 90 900-00-00 </a>
          </div>
          <div class="col-md-5">
            <h3>СоциалЬные сети</h3>
            <a href="#@" class="facebook"><i class="fab fa-facebook-f"></i> </a>
            <a href="#@" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#@" class="telegram"><i
                class="fab fa-telegram-plane"
              ></i></a>
          </div>
          <div class="col-md-3">
            <h3>Адрес</h3>
            <p>г. Ташкент Шайхонтохурский район ул. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="map" style="position:relative;overflow:hidden;"><a
        href="https://yandex.uz/maps/10335/tashkent/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;"
      >Ташкент</a><a
        href="https://yandex.uz/maps/10335/tashkent/?ll=69.279737%2C41.311151&utm_medium=mapframe&utm_source=maps&z=12"
        style="color:#eee;font-size:12px;position:absolute;top:14px;"
      >Яндекс.Карты — транспорт, навигация, поиск мест</a><iframe
        src="https://yandex.uz/map-widget/v1/-/CCQtnMh6xA"
        width="100%"
        height="500"
        frameborder="1"
        allowfullscreen="true"
        style="position:relative;"
      ></iframe>
    </div>

  </div>
</section>